<p-tabView>
  <p-tabPanel header="Controle" leftIcon="pi pi-align-justify" tooltip="Controle">
    <app-tabela-principal></app-tabela-principal>
  </p-tabPanel>
  <p-tabPanel header="Listas Suspensas" leftIcon="pi pi-list" tooltip="Listas Suspensas">
    <app-listas-suspensas></app-listas-suspensas>
  </p-tabPanel>
  <p-tabPanel header="Importação de Arquivos" leftIcon="pi pi-file-excel" tooltip="Importação de Arquivos">
    <app-importar-arquivos></app-importar-arquivos>
  </p-tabPanel>
</p-tabView>
